body {
    padding:0 1ex 0.4ex;
    background: #BFEAFF;
    background: linear-gradient(90deg, #BFEAFF 0%,#80D5FF 100%);
    margin:0;
}
h1 {
    font-size:1.6em;
    text-align:center;
}
h3 {
    font-size:1.1em;
    text-align:center;
    text-decoration:underline;
}
#header {
    margin:1ex 1ex;
    text-align:center;
}
footer {
    text-align:center;
    font-style:italic;
}
footer .copyleft {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    display: inline-block;
}
p {
    text-indent:4ex;
}
th {
    text-align:center;
    text-transform: capitalize;
    color:#fef2e9;
    background-color:#272e27;
}
td, th {
    padding: 3px 0.6ex;
}
tr {
    background-color: #f2f2f2;
}
table.sortable th {
    cursor: pointer;
}
th.sorting-asc, th.sorting-desc  {
    background-color: #666666;
}
table.sortable th.sorting-desc:after { 
    content: "\00A0\25BE";
}
table.sortable th.sorting-asc:after { 
    content: "\00A0\25B4";
}
table.sortable th:not(.sorting-asc):not(.sorting-desc):not(.non_sortable):after { 
    content: "\00A0\25B4\25BE";
}
/* Statut */
.statut-0 { background-color:#FFFFFF; }
.statut-1 { background-color:#FFE6E6; }
.statut-2 { background-color:#E6E6FF; }
.statut-3 { background-color:#D6FFD6; }
.maj-non  { background-color:#FFFF99; }
.non-repondu { background-color:#FFDBF9; }
/* Tables */
table, td, th { border: 1px solid #cdcdcd; }
table {
    border-spacing:0;
    border-width: 1px 0 0 1px;
    margin:0 auto 1ex;
}

#pb, #stats {
    display: none;
}
