html,body {
  height:100%;
  margin:0;
  padding:0;
}
span {
  font-family:monospace;
}
div h2 {
  text-align:center;
  margin:0;
  font-size:1.1em;
}
h3 {
  margin:0.8ex 0 0.8ex 4ex;
}
li {
  list-style-type:circle;
  margin:0.66ex;
}
li li {
  list-style-type:square;
}
div p {
    margin:1ex;
}
/* Les cadres */
#HG, #HD, #BG, #BD {
  height:50%;
  width:50%;
  float:left;
  min-height:275px; /* -> total de 550 */
  overflow:auto;
  overflow-x:hidden;
  background-position: center top;
  background-repeat: no-repeat;
}
#HG > *, #HD > *, #BG > *, #BD > * {
  padding:1ex 25px;
}
#HG {
  background: #FFA6D2;
}
#HD {
  /*background: #DAFF99;*/
  background: #CCFF99;
}
#BG {
  background: #99BBFF;
}
#BD {
  /*background: #FFC68C;*/
  background: #FFE28C;
}
/* L'image au centre */
.img_centre {
    position: absolute;
    top: 50%;
    left: 50%;
    /*margin-left: -(124/2)px;
    margin-left: -(124/2)px;*/
    margin-top: -62px;
    margin-left: -62px;
}
/* Le cadre pour afficher les vidéos */
#video {
  z-index:-100;
  text-align:center;
  margin:1% auto;
  width:100%;
  position:absolute;
  left:0px;
  top:0px;
}
#video video {
  max-width:95%;
  max-height:540px;
}
/* Mise en forme de url */
.url {
  font-family:monospace;
  font-weight:bold;
  font-size:150%;
  text-align:center;
}
/* Liste de liens en haut à gauche */
.liste-liens {
  text-align:center;
  font-weight:bold;
  font-size:145%;
  margin-top:2%;
  padding:0;
}
.liste-liens li {
  list-style-type:none;
  margin:1ex;
  margin-left:-38px;
}
.liste-liens img {
  vertical-align:middle;
  width:38px;
  margin:0 1ex;
}
